@model CategoryVM



@{
    ViewBag.Title = "UpdateCategory";
}


@using (Html.BeginForm())
{
  


    <div>
        @Html.TextBoxFor(x=>x.CategoryName)
    </div>

    <div>
        @Html.TextBoxFor(x=>x.Description)
    </div>

    <div>
        <button class="btn btn-primary">
            Güncelle
        </button>
    </div>
}


